/* Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Local Font Import */
@font-face {
  font-family: 'Azonix';
  src: url('../Fonts/techfont.otf');
  src:
    local('Azonix'),
    local('Azonix'),
    url('../Fonts/techfont.otf') format('opentype');
}

/* Reset with universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #151b32;
  --myBlue: #2086a5;
  --myBlue2: #285dbd;
}

html {
  scroll-behavior: smooth;
}

/* Styling for 360px devices */

body {
  width: 100vw;
  max-width: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 15;
  transition: 500ms;
}

.navbar-effect {
  background-color: var(--myBlue);
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
}

.logo {
  width: 35px;
  height: 35px;
}

.brand-name {
  font-family: 'Azonix', sans-serif;
  font-size: 18px;
}

.language-holder {
  width: 20%;
  position: relative;
}

.language-holder i {
  position: absolute;
  top: 13%;
  right: 12%;
  color: white;
  font-size: 22px;
  pointer-events: none;
}

.language-selector {
  width: 100%;
  height: 30px;
  padding-left: 0.5rem;
  border: 1px solid white;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  appearance: none;
  background-color: transparent;
  color: white;
}

.language-selector option {
  background-color: var(--myBlue);
  color: white;
  cursor: pointer;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url('../Images/homebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-info-container {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}

.home-info {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.home-btn {
  display: inline-block;
  line-height: 17.5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--myBlue);
  text-align: center;
  transition: all 500ms;
  border-radius: 0.2rem;
}

.home-btn:hover {
  background-color: var(--myBlue2);
  font-weight: 500;
}

.services {
  width: 100%;
  padding: 50px 1rem 0 1rem;
}

.sec-title {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
  margin-bottom: 2rem;
  position: relative;
}

.sec-title::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: var(--dark);
  left: 45%;
  right: 45%;
  bottom: -4px;
  border-radius: 25px;
}

.services-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.services-img {
  width: 90%;
}

.services-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin-bottom: 1rem;
}

.service-item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-left: 0.75rem;
  margin: 0.3rem auto;
}

.services-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.sc-img-holder {
  width: 35%;
  margin: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  padding: 1.5rem;
}

.service-content-img {
  width: 100%;
}

.segments {
  padding: 50px 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.segment-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.segments-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.segment-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--myBlue);
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  transition: all 500ms;
  cursor: default;
}

.segment-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.segment-img {
  width: 50%;
}

.segment-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.clients {
  padding: 50px 1rem 0 1rem;
}

.client-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.client-img {
  width: 90%;
  transition: 800ms;
}

.client-img:hover {
  transform: rotate(360deg);
}

.testimonials {
  padding: 50px 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 90%;
  background-color: var(--myBlue);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0.75rem 0;
  color: white;
  transition: 500ms;
  cursor: default;
}

.card:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
}

.card:hover .reviewer-name {
  background-color: var(--myBlue);
  color: white;
}

.card i {
  font-size: 22px;
  align-self: flex-start;
}

.testimonial-info {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  font-weight: 600;
}

.reviewer-name {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  border-radius: 50%;
  align-self: flex-end;
  margin-right: 0.5rem;
}

.contact {
  padding: 50px 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-img-holder {
  width: 60%;
  overflow: hidden;
}

.contact-img {
  width: 100%;
  transition: 800ms;
}

.contact-img-holder:hover .contact-img {
  transform: scale(1.3);
}

.contact-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.contact-modify-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-input {
  width: 100%;
  height: 32px;
  padding-left: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  transition: 500ms;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.contact-ip-modify {
  margin: 0.75rem 0;
}

#contact-mobile::-webkit-inner-spin-button,
#contact-mobile::-webkit-outer-spin-button {
  display: none;
}

.contact-default {
  margin: 0.75rem 0;
}

.contact-msg {
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  transition: 500ms;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
  resize: none;
}

.contact-input:focus,
.contact-msg:focus {
  box-shadow: inset 0px -2px 0px var(--myBlue), 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.contact-btn {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--myBlue);
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  transition: all 500ms;
  margin: 0.75rem 0;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: var(--myBlue2);
}

.footer {
  padding: 50px 1rem;
  background-color: var(--myBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fc-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-content {
  width: 90%;
  margin: 1rem;
}

.footer-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.fc-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  margin-bottom: 1rem;
}

.fc-title:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 10%;
  height: 1px;
  bottom: -5px;
  left: 0;
}

.fc1 p {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
}

.fc1 i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: var(--myBlue);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fc1 p:nth-child(2) {
  align-items: flex-start;
}

.fc1 p:nth-child(3) {
  margin-top: 0.5rem;
}

.fc2 p {
  margin: 0.5rem;
  font-size: 18px;
  cursor: pointer;
}

.fc2 p:hover {
  text-decoration: underline;
}

.social-media-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  margin: 0.5rem;
  transition: 500ms;
  cursor: pointer;
}

.social-icon:hover {
  background-color: white;
  color: var(--myBlue);
}

.footer-line {
  margin: 1rem 0;
  width: 90%;
  height: 1px;
  background-color: white;
}

.footer-bottom {
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16.5px;
}

.scroll-to-top {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.scroll-to-top a {
  color: white;
  font-size: 22px;
  animation: moving 1500ms linear infinite;
}

@keyframes moving {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}







/* Media Queries starts */

/* Styling for 576px devices */

@media (min-width: 576px) {

  .navbar {
    padding: 0 2rem;
  }

  .home {
    background-position-x: -5rem;
  }

  .language-holder {
    width: 12%;
  }

  .services-img {
    width: 60%;
  }

  .services-info-container {
    padding: 0 1.5rem;
  }

  .service-item {
    width: 48%;
  }

  .home-name {
    font-weight: 600;
  }

  .home-info {
    font-weight: 600;
  }

  .segment-heading {
    padding: 0 10%;
  }

  .segment-item {
    width: 40%;
  }

  .client-img {
    width: 45%;
  }

  .footer-content {
    width: 40%;
  }
}

/* Styling for 768px devices */

@media (min-width: 768px) {

  .navbar {
    padding: 0 3rem;
  }

  .language-holder {
    width: 9%;
  }

  .sec-title::after {
    width: 8%;
    left: 46%;
    right: 46%;
  }

  .services-img {
    width: 45%;
  }

  .sc-img-holder {
    width: 20%;
  }

  .segment-item {
    width: 25%;
  }

  .client-img {
    width: 20%;
  }

  .card {
    width: 45%;
  }

  .contact-modify-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-ip-modify {
    width: 47%;
  }

  .fc-holder {
    justify-content: space-evenly;
  }

  .footer-content {
    width: 27%;
  }
}

/* Styling for 992px devices */

@media (min-width: 992px) {
  .home {
    background-position-x: 0;
  }

  .language-holder {
    width: 7%;
  }

  .home-name {
    font-size: 40px;
  }

  .home-info {
    font-size: 18px;
  }

  .sec-title::after {
    width: 6%;
    left: 47%;
    right: 47%;
  }

  .services-info-container {
    flex-direction: row;
  }

  .services-img {
    width: 30%;
  }

  .sc-img-holder {
    width: 18%;
  }

  .contact-content {
    flex-direction: row-reverse;
    gap: 2rem;
    padding: 1rem;
  }

  .contact-img-holder {
    width: 45%;
  }

  .contact-btn {
    width: fit-content;
    height: 30px;
    padding: 0 1.5rem;
    align-self: flex-start;
  }
}

/* Styling for 1200px devices */

@media (min-width: 1200px) {
  .language-holder {
    width: 5%;
  }

  .home-name {
    font-size: 45px;
  }

  .home-info {
    font-size: 21px;
  }

  .sec-title::after {
    width: 4%;
    left: 48%;
    right: 48%;
  }

  .segment-item {
    width: 15%;
  }

  .client-img {
    width: 15%;
  }

  .card {
    width: 23%;
  }

  .contact-content {
    padding: 0 2rem;
  }
}

/* Media Queries ends */